.txtStyle{
	border:1px;
	borderColor:#E6E6E6;
	border-style:solid;
	font-family:verdana,Geneva,Arial,sans-serif;
	font-size:11px;
	color:#CC3300;
	width:150px;
	height:20px;
}

.btn1{
	background-repeat:no-repeat;
	background-position:8px;
	background-color:#FFF8DC;
	font-weight: bold; 
	border-style:solid;
	font-family:verdana,Geneva,Arial,sans-serif;
	font-size:11px;
	color:#CC3300;
	font-weight:normal;
	height:25px;
	width:75px;
	padding-left:20px;
	border:0px;
	cursor:printer;
}
.btn{

background: #CC3300;
color: #fff;
border: 1px solid #CC3300;
border-radius: 20px;
box-shadow: 5px 5px 5px #CC3300;

}

.Label{
	font-family:verdana,Geneva,Arial,sans-serif;
	font-size:13px;
	font-weight: bold; 
	color:#CC3300;
	width:150px;
	height:20px;
}

.Label1{
	font-family:verdana,Geneva,Arial,sans-serif;
	font-size:11px;
	color:black;
	width:150px;
	height:20px;
}

.dropdown{

      border: 1px;  /*Removes border*/
      borderColor:#E6E6E6;
	  border-style:solid;
      -webkit-appearance: none;
      -moz-appearance: none; 
      background: url('images/dropdown.jpg') no-repeat; 
    border-radius: 10px 0;
      width:155px;
	  height:20px; 
      color: #CC3300;
}
.txtarea{
	border:1px;
	borderColor:#E6E6E6;
	border-style:solid;
	font-family:verdana,Geneva,Arial,sans-serif;
	font-size:11px;
	color:#CC3300;
	width:150px;
}

